<sb-card>
    <div class="card-header">
        <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>Courses
    </div>
    <div class="card-body">


        <p-table #dts [value]="staffs" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['name']">
            <ng-template pTemplate="caption">
                <div class="d-flex">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dts.filterGlobal($event.target.value, 'contains')"
                            placeholder="Global Search" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">
                        Name
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="address">
                        Address
                        <p-sortIcon field="address"></p-sortIcon>
                    </th>
                    <th pSortableColumn="role">
                        Role
                        <p-sortIcon field="role"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-staff>
                <tr>
                    <td><b>{{staff.name}}</b></td>
                    <td>{{staff.address}}</td>
                    <td>{{staff.role}}</td>
                </tr>
            </ng-template>
        </p-table>

    </div>
</sb-card>