<sb-card>
    <div class="card-header">
        <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>Courses
    </div>
    <div class="card-body">
        <p-table #dtc [value]="courses" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['name']">
            <ng-template pTemplate="caption">
                <div class="d-flex">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dtc.filterGlobal($event.target.value, 'contains')"
                            placeholder="Global Search" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">
                        Name
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th>
                        Image
                    </th>
                    <th pSortableColumn="courseType">
                        Course Type
                        <p-sortIcon field="courseType"></p-sortIcon>
                    </th>
                    <th pSortableColumn="orderType">
                        Order Type
                        <p-sortIcon field="orderType"></p-sortIcon>
                    </th>
                    <th pSortableColumn="level">
                        Level
                        <p-sortIcon field="level"></p-sortIcon>
                    </th>
                    <th pSortableColumn="estimatedTime">
                        Estimated Time
                        <p-sortIcon field="estimatedTime"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-course>
                <tr>
                    <td><b>{{course.name}}</b></td>
                    <td>
                        <img class="course-image" [src]="course.imageUrl" />
                    </td>
                    <td>{{course.courseType}}</td>
                    <td>{{course.orderType}}</td>
                    <td>{{course.level}}</td>
                    <td>{{course.estimatedTime}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</sb-card>