<li class="nav-item dropdown dropdown-user no-caret" ngbDropdown placement="bottom-right" display="dynamic">
    <a class="nav-link dropdown-toggle" id="userDropdown" ngbDropdownToggle data-cy="userMenu" role="button"
        aria-haspopup="true" aria-expanded="false">
        <fa-icon [icon]='["fas", "user"]'></fa-icon>
    </a>
    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownUser">
        <h6 class="dropdown-header">Have a nice day!</h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="signOut()">Logout</a>
    </div>
</li>