<div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-primary">
            <div class="card-body d-flex">Courses<b class="ml-auto">{{totalCourses}}</b></div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-warning">
            <div class="card-body d-flex">Staffs<b class="ml-auto">{{totalStaffs}}</b></div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-success">
            <div class="card-body d-flex">Users<b class="ml-auto">{{totalUsers}}</b></div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-danger">
            <div class="card-body d-flex">Active Users<b class="ml-auto">{{totalActiveUsers}}</b></div>
        </sb-card-view-details>
    </div>
</div>