<div class="row">
    <div class="col-xl-6">
        <sb-card>
            <div class="card-header">
                <fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon>Monthly Income
            </div>
            <div class="card-body" [style.display]="dataLine != null ? 'block' : 'none'">
                <p-chart type="line" [data]="dataLine"></p-chart>
            </div>
        </sb-card>
    </div>
    <div class="col-xl-6">
        <sb-card>
            <div class="card-header">
                <fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>User Trend
            </div>
            <div class="card-body" [style.display]="dataRada != null ? 'block' : 'none'">
                <p-chart type="radar" [data]="dataRada"></p-chart>
            </div>
        </sb-card>
    </div>
</div>