<sb-card>
    <div class="card-header">
        <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>Courses
    </div>
    <div class="card-body">
        <p-table #dtu [value]="users" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['name']">
            <ng-template pTemplate="caption">
                <div class="d-flex">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dtu.filterGlobal($event.target.value, 'contains')"
                            placeholder="Global Search" />
                    </span>
                </div>

            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">
                        Name
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="age">
                        Age
                        <p-sortIcon field="age"></p-sortIcon>
                    </th>
                    <th pSortableColumn="height">
                        Height
                        <p-sortIcon field="height"></p-sortIcon>
                    </th>
                    <th pSortableColumn="weight">
                        Weight
                        <p-sortIcon field="weight"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>
                        <b class="ml-1">{{user.name}}</b>
                    </td>
                    <td>{{user.age}} YO - {{user.gender ? 'Female' : 'Male'}}</td>
                    <td>{{user.height}}</td>
                    <td>{{user.weight}}</td>
                    <td>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</sb-card>